@import "../iconfont/iconfont.css";

.flex {
    display: flex;
    align-items: center;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 单行省略隐藏 */

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 多行隐藏  */

.rows-ellipsis {
    /* -webkit-line-clamp: 3; 给出模板 自己输入超出多少隐藏 */
    /* word-wrap: break-word; */
    /*允许截断文本*/
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* 类名控制滚动条样式 */

.scroll-bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(218, 218, 218, 0.7);
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(218, 218, 218, 1);
}
.scroll-bar-color::-webkit-scrollbar-thumb {
    background: rgba(155, 155, 155, 0.7);
}
.scroll-bar-color::-webkit-scrollbar-thumb:hover {
    background-color: rgba(135, 135, 135, 1);
}

/* 类名控制滚动条样式 end */

/* 全局取消背景高亮 */

/* ::-webkit-selection {
    background: none;
}
::selection {
  background: none;
} */

/* 全局取消背景高亮 end */

/* 类名取消点击选中 */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* 没有前缀，目前支持Opera和谷歌浏览器 */
}

/* 类名取消点击选中 end */